<% include partials/header %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Link</th>
        <th>Shorten link</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(item){ %>

      <tr>
        <td><%= item.id %></td>

        <td><%= item.link.split(".")[1] %></td>
        <td><a href="/<%= item.shorten_link %>" target="_blank">localhost:3000/<%= item.shorten_link %></a></td>
        <td><%= item.count %></td>
      </tr>
      <%   })  %>
    </tbody>
  </table>
  <form class="form-inline" action="/urls" method="post">
  <div class="form-group">
    <label for="link">Link</label>
    <input type="url" class="form-control" id="link" name="link" placeholder="some links">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form>
</div>

<% include partials/footer %>
