<% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div class="title" style="text-align: center;">
          <h1>URL Table</h1>
        </div>
        <br>
        <table class="table table-bordered">
          <thead style="background-color: rgba(255, 230, 128, 0.8);">
            <th>ID</th>
            <th>Link</th>
            <th>Shorten URL</th>
            <th>Click Count</th>
          </thead>
          <tbody>
            <% for(let i = 0; i < data.length; i++){ %>
            <tr>
              <td><%= data[i].id %></td>
              <td><%= data[i].link %></td>
              <td><a href="<%= data[i].short_url %>"><%= data[i].short_url %></a></td>
              <td><%= data[i].count %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <hr>
        <a href="/" class="btn btn-primary">Back</a>
      </div>
    </div>
<% include ../partials/footer %>
